BASE_URL=
BASE_URL_EU=

# Firebase
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=

FIREBASE_ANDROID_API_KEY=
FIREBASE_ANDROID_APP_ID=

FIREBASE_IOS_API_KEY=
FIREBASE_IOS_APP_ID=
FIREBASE_IOS_CLIENT_ID=
FIREBASE_IOS_BUNDLE_ID=

# Time user have to pass menthal test
MENTAL_HEALTH_TEST_TIME_IN_MINUTES=

# Analitics

# Mixpanel
MIXPANEL_TOKEN=

# Customer IO
CUSTOMER_IO_SITE_ID=
CUSTOMER_IO_API_KEY=

# AppsFlyer
APPS_FLYER_AF_DEV_KEY=
APPS_FLYER_APP_ID=

# Uxcam
UXCAM_APP_KEY=